@import url(../scss/_fonts.scss);
@import url(../scss/_normalize.scss);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  background-color: #b7c4c4;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 156px;
  background-color: #5ca5a5;
  background-image: url("../img/header-back.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100% 100%;
}

.main__container {
  margin-top: 10px;
}

.job {
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  box-shadow: -3px 3px 9px 0px rgba(151, 151, 151, 0.2);
  margin-bottom: 24px;
  padding: 32px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job-info {
  display: flex;
  align-items: center;
  gap: 24px;
}

.job-info .logo img {
  width: 88px;
  height: 88px;
}

.text-info .head-info {
  display: flex;
  align-items: center;
  gap: 15px;

  margin-bottom: 10px;
}

.head-info a {
  color: #5ca5a5;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
}

.head-info div {
  display: flex;
  gap: 8px;

  align-items: center;
}

.head-info div span {
  background-color: #5ca5a5;
  padding: 7px 8px 3px 8px;
  border-radius: 12px;

  color: white;
  font-size: 14px;
  font-weight: 700;
}

.head-info div span:last-child {
  background-color: #2b3939;
}

.text-info .job-title {
  margin-bottom: 7px;
}

.text-info .job-title h2 {
  color: #2b3939;
  font-size: 22px;
  font-weight: 700;

  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.text-info .job-title h2:hover {
  color: #5ca5a5;
}

.text-info .foot-info {
  display: flex;
  align-items: center;
  gap: 18.5px;
}

.foot-info .info {
  color: #7c8f8f;
  font-size: 18px;
  font-weight: 500;
}

.foot-info .dot {
  width: 4px;
  height: 4px;
  background-color: #979797;
  border-radius: 50%;
}

.job-skills {
  display: flex;
  gap: 16px;
  align-items: center;
}

.job-skills span {
  color: #5ca5a5;
  font-size: 16px;
  font-weight: 700;

  border-radius: 4px;
  padding: 5px 5px 3px 5px;
  background-color: rgba(92, 165, 165, 0.2);

  transition: all 0.5s;
  cursor: pointer;
}

.job-skills span:hover {
  background-color: #5ca5a5;
  color: white;
}

.search {
  width: 100%;
  background-color: white;
  box-shadow: -3px 3px 9px 0px rgba(151, 151, 151, 0.2);
  border-radius: 4px;
  padding: 20px 40px;

  position: relative;
  top: -40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search span {
  cursor: pointer;
  color: #5ca5a5;

  font-size: 16px;
}

.search input {
  width: 90%;
  border: none;
  font-size: 20px;
}

.search input:focus {
  outline: none;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 87%;
  }
}

@media screen and (max-width: 992px) {
  .job {
    padding: 20px 20px;
    gap: 40px;
  }

  .job-info {
    gap: 16px;
  }

  .text-info .head-info {
    margin-bottom: 5px;
  }

  .text-info .foot-info {
    gap: 10px;
  }

  .job-skills {
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .job-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 576px) {
  .header {
    background-image: url("../img/mobile-back.png");
  }

  .job {
    position: relative;
    padding: 32px 24px 24px 24px;

    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 40px;
    gap: 15px;
  }

  .job .logo {
    position: absolute;
    top: -25px;
  }

  .job .logo img {
    width: 48px;
    height: 48px;
  }

  .job-skills {
    border-top: 1px solid #979797;
    padding-top: 16px;
  }
}
